@import './TodoList.scss';

.todo-list{

    &__header{
        width: 100%;
        font-family: $text-name, sans-serif;
        color: $text-color-gray;
        border: $border;
        padding: 10px;
        margin-top: 20px;
    }

    &__inputs{
        padding-bottom: 10px;
    }

    &__buttons{
        @include flexCenter()
    } 

    &__tags{
        @include flexStart()
    }
}

.tags{
    &__container{
        @include flexStart()
    }
}