@import './TodoList.scss';

.todo-list{

    &__header{
        @include borderShadow();
        width: 100%;
        font-family: $text-name, sans-serif;
        padding: 10px;
        margin-top: 20px;
    }

    &__inputs{
        padding-bottom: 10px;
    }

    &__buttons{
        @include flexEnd()
    } 

    &__tags{
        @include flexStart();
        @include borderShadow();
        align-items: center;
        max-width: 100%;
        width: 100%;
        border: transparent;
        box-shadow: 0 0 3px 3px $text-color-gray;
        font-weight: $text-bold;
    }
}

.tags{
    &__name{
        @include flexStart();
        background-color: $text-color-gray;
        color: #ffffff;
        border: 2px solid transparent;
        border-radius: 5px;
        margin: 0 5px;
        padding: 2px 5px;
        height: 30px;
        align-items: center;
    }
}

.input{

    &__container{
        padding: 10px 0;
    }

    &__error{
        position: relative;
        
        &--message{
            position: absolute;
            top: -8px;
            padding-left: 10px;
            font-size: 15px;
            color: #bd1414;
            font-weight: bold;
        }
    }

    &__valid{
        display: none;
    }
}