@import './TodoList.scss';
@import './MyButton.scss';

.main{
    @include flexColumnCenter();
    max-width: 100%;
    width: 100%;
}

.todo-item{
    max-width: 100%;
    width: 100%;
    color: $text-color-gray;
    border: $border;
    margin: 10px 0;

    &__title{
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
    }

    &__body{
        padding: 10px;
    }

    &__line{
        height: 2px;
        background-color: $light-blue
    }

    &__buttons{
        @include flexBetween();
        padding: 10px;
    }
}