@import './TodoList.scss';
@import './MyButton.scss';

.main{
    @include flexColumnCenter();
    max-width: 100%;
    width: 100%;
    font-family: $text-name, sans-serif;

    &__title{
        margin-top: 10px;
        color: $text-color-gray;
    }
}

.todo-item{
    max-width: 100%;
    width: 100%;
    @include borderShadow();
    margin: 10px 0;

    &__title{
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
    }

    &__body{
        padding: 10px;

        &--bold{
            font-size: 15px;
            font-weight: 600;
        }
    }

    &__tag{
        background-color: $text-color-gray;
        color: #ffffff;
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 5px;
        margin: 0 5px;
        transition: 0.3s;
        
        &:hover{
            background-color: #ffffff;
            color: $text-color-gray;
            border: 2px solid $text-color-gray;
        }
    }

    &__line{
        height: 2px;
        background-color: $light-blue
    }

    &__buttons{
        @include flexBetween();
        padding: 10px;
    }
}