@import './TodoList.scss';

.modal{  
    color: $text-color-gray;
    font-family: $text-name, sans-serif;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);

    &__container{
        position: fixed;
        padding: 20px;
        top: 50%;
        left: 50%;
        border: 2px solid $text-color-gray;
        transform: translate(-50%,-50%);
        background-color: #ffffff;
        box-shadow: 0 0 50px 50px $text-color-gray;
        border-radius: 20px;
        overflow: hidden;
    }

    &__buttons{
        position: absolute;
        top: 8px;
        right: 15px;
        cursor: pointer;
    }

}
