@import './TodoList.scss';
@import './App.scss';

.button{
    max-width: 10%;
    width: 100%;
    padding: 10px;
    background-color: $text-color-gray;
    border: transparent;
    font-family: $text-name;
    border-radius: 20px;
    color: #ffffff;
    font-weight: $text-bold;
    transition: 500ms;
    cursor: pointer;

    &:hover{
        background-color: #22ce00;
        color: $text-color-gray;
    }

    &:active{
        transform: scale(0.95);
    }
}