@import './TodoList.scss';
@import './App.scss';

.button{
    max-width: 30%;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: $border;
    font-family: $text-name;
    color: $text-color-gray;
    font-weight: $text-bold;
    transition: 500ms;
    cursor: pointer;

    &:hover{
        border: $border-violet;
    }

    &:active{
        transform: scale(0.95);
    }
}