@import './TodoList.scss';

.input{
    max-width: 100%;
    width: 100%;
    border: $border-violet;
    font-family: $text-name;
    color: $text-color-gray;
    font-weight: $text-bold;
    padding: 10px;
    outline: none;

    &:nth-child(2){
        margin: 10px 0;
    }
}