@import './TodoList.scss';
@import './MyButton.scss';

.todo-item{
    max-width: 100%;
    width: 100%;
    color: $text-color-gray;
    border: $border;
    margin-bottom: 10px;

    &__title{
        padding: 10px;
    }

    &__line{
        height: 2px;
        background-color: $light-blue
    }

    &__buttons{
        @include flexBetween();
        padding: 10px;
    }
}
