$light-gray: rgb(119, 119, 119);
$text-color-gray: rgb(73, 73, 73);
$text-name: 'Montserrat';
$text-bold: 500;
$border: 2px solid #00e1ff;
$light-blue: #00e1ff;
$border-violet: 2px solid #520cc2;

@mixin flexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
}

@mixin flexStart(){
    display: flex;
    justify-content: flex-start;
}

@mixin flexBetween(){
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1270px;
    width: 100%;
    @include flexColumnCenter();
}
